/* [
  {
    "activity": "sleeping",
    "intensity": "none"
  },
  {
    "activity": "stationary-awake",
    "intensity": "low"
  },
  {
    "activity": "walking",
    "intensity": "moderate"
  },
  {
    "activity": "cycling",
    "intensity": "moderate"
  },
  {
    "activity": "swimming",
    "intensity": "vigorous"
  },
  {
    "activity": "running",
    "intensity": "vigorous"
  }
] */

.sleeping {background-image: linear-gradient(to right, rgb(255, 170, 42, 0.08) 70%, white);}

.stationary-awake {background-image: linear-gradient(to right, rgb(255, 170, 42, 0.20) 70%, white);}

.walking {background-image: linear-gradient(to right, rgb(255, 170, 42, 0.30) 70%, white);}

.cycling {background-image: linear-gradient(to right, rgb(255, 170, 42, 0.50) 70%, white);}

.swimming {background-image: linear-gradient(to right, rgb(255, 170, 42, 0.70) 70%, white);}

.running {background-image: linear-gradient(to right, rgb(255, 170, 42, 0.9) 70%, white);}


/* ------------------------------------------- */

.sleeping-bar {background-color: rgb(0,0,0, 0.5)}

.stationary-awake-bar {background-color: rgb(0,0,0, 0.6)}

.walking-bar {background-color: rgb(0,0,0, 0.70)}

.cycling-bar {background-color: rgb(0,0,0, 0.80)}

.swimming-bar {background-color: rgb(0,0,0, 0.90)}

.running-bar {background-color: rgb(0,0,0, 1)}