<h1 style="text-align: center; margin-top: 25px; margin-bottom: 25px">Activity</h1>
<div class="album py-5 bg-light">
  <div class="container">
      <a style="margin-bottom: 15px" class="btn btn-secondary" [routerLink]="['/']" role="button">Back</a>
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-12 shadow-sm" *ngIf="patient">
          <img src="../assets/{{patient.gender}}.jpg" class="bd-placeholder-img card-img-top" style="width: 225px; margin: 0 auto; height:225px;">
          <div class="card-body">
            <div>
              <div style="text-align: center" class="card-text">
                <p style="text-align: center; font-size: 28px;"><b>{{patient.name}}</b></p>
                <p style="text-transform: capitalize"><b>Gender:</b> {{patient.gender}}</p>
                <p><b>Birthdate:</b> {{patient.birthDate}}</p>
                <p><b>Height:</b> {{patient.heightCm}} cm</p>
                <p><b>Weight:</b> {{patient.weightKg}} Kg</p>
                <p><b>BMI:</b> {{patient.bmi}}</p>
              </div>
              <div style="margin-top: 30px; margin: 0 auto">
                <table *ngIf="resultArr" style="width: 100%; border: 1px solid black;">
                  <tr style="font-size: 24px;padding-top: 12px;
                  padding-bottom: 12px;
                  text-align: left;
                  background-color: #5e7487;
                  color: white;">
                    <th style="padding-left: 5px">Activity</th>
                    <th style="padding-left: 5px">Time</th>
                    
                  </tr>
                  <tr style="border: 1px solid black;" *ngFor="let activity of resultArr">
                    <td class="{{activity.activity}}" style="text-transform: capitalize; padding-left: 5px">{{activity.activity}}</td>
                    <td>{{activity.minutes}}</td>
                    
                  </tr>
                </table>  
              </div>
            </div>
          </div>
          <a style="width: 30%; margin: 0 auto;" class="btn btn-secondary" [routerLink]="['/']" role="button">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <table *ngIf="resultArr">
  <tr>
    <th>Activity</th>
    <th>Minutes</th>
    
  </tr>
  <tr *ngFor="let activity of resultArr">
    <td>{{activity.activity}}</td>
    <td>{{activity.minutes}}</td>
    
  </tr>
</table> -->
