<h1 style="text-align: center; margin-top: 25px">Patients</h1>
  <!--
  <table *ngIf="resultArr">
      <tr>
          <th>ID</th>
          <th>Name of patient</th>
          <th>Gender</th>
          <th>Birthdate</th>
          <th>Height</th>
          <th>Weight</th>
          <th>BMI</th>
      </tr>

      With the statement “let patient of resultArr” we are defining a variable “patient”, that holds a reference to the current array element.
      <tr *ngFor="let patient of resultArr">
          <td>{{patient.id}}</td>
          <td>{{patient.name}}</td>
          <td>{{patient.gender}}</td>
          <td>{{patient.birthDate}}</td>
          <td>{{patient.heightCm}} cm</td>
          <td>{{patient.weightKg}} Kg</td>
          <td>{{patient.bmi}}</td>
      </tr>
    </table>
  -->

<router-outlet></router-outlet>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6" *ngFor="let patient of resultArr">
          <div class="card mb-4 shadow-sm">
              <img src="../assets/{{patient.gender}}.jpg" class="bd-placeholder-img card-img-top" style="width: 225px; margin: 0 auto; height:225px;">
              <div class="card-body">
                <div class="card-text">
                  <p>{{patient.id}}</p>
                  <p>{{patient.name}}</p>
                  <p>{{patient.gender}}</p>
                  <p>{{patient.birthDate}}</p>
                  <p>{{patient.heightCm}} cm</p>
                  <p>{{patient.weightKg}} Kg</p>
                  <p>{{patient.bmi}}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
