  <!--
  <table *ngIf="resultArr">
      <tr>
          <th>ID</th>
          <th>Name of patient</th>
          <th>Gender</th>
          <th>Birthdate</th>
          <th>Height</th>
          <th>Weight</th>
          <th>BMI</th>
      </tr>

      With the statement “let patient of resultArr” we are defining a variable “patient”, that holds a reference to the current array element.
      <tr *ngFor="let patient of resultArr">
          <td>{{patient.id}}</td>
          <td>{{patient.name}}</td>
          <td>{{patient.gender}}</td>
          <td>{{patient.birthDate}}</td>
          <td>{{patient.heightCm}} cm</td>
          <td>{{patient.weightKg}} Kg</td>
          <td>{{patient.bmi}}</td>
      </tr>
    </table>
  -->

<router-outlet></router-outlet>