<div style="text-align:left;width:500px;">
  <h1>
      {{ title }}!
  </h1>

  <table *ngIf="resultArr">
      <!-- ADD HEADERS -->
      <tr>
          <th>ID</th>
              <th>Name of patient</th>
                  <th>Type of patient</th>
      </tr>

      <!-- BIND ARRAY TO TABLE -->
      <tr *ngFor="let patient of resultArr">
          <td>{{patient.id}}</td>
              <td>{{patient.name}}</td>
                  <td>{{patient.gender}}</td>
      </tr>
  </table>
</div>

<router-outlet></router-outlet>
