<h1 style="text-align: center; margin-top: 25px; margin-bottom: 25px">Patients</h1>

<div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-6" *ngFor="let patient of resultArr">
              <div class="card mb-4 shadow-sm">
                  <img src="../assets/{{patient.gender}}.jpg" class="bd-placeholder-img card-img-top" style="width: 225px; margin: 0 auto; height:225px;">
                  <div class="card-body">
                    <div class="card-text">
                      <p><b>ID:</b> {{patient.id}}</p>
                      <p><b>Name:</b> {{patient.name}}</p>
                      <p><b>Gender:</b> {{patient.gender}}</p>
                      <p><b>Birthdate:</b> {{patient.birthDate}}</p>
                      <p><b>Height:</b> {{patient.heightCm}} cm</p>
                      <p><b>Weight:</b> {{patient.weightKg}} Kg</p>
                      <p><b>BMI:</b> {{patient.bmi}}</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">one minute ago</small>
                      <a class="btn btn-primary" [routerLink]="['/patient', patient.id]" role="button">View</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>